.places {
  /* border: 1px solid red; */
  margin: 64px 0 0;
}

.places :first-child {
  margin-top: 0px;
}

@media (min-device-width: 700px) {
  .places {
    margin: 78px 24px 0;
  }
}

@media (min-device-width: 1024px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media (min-device-width: 1280px) {
  .places {
    margin: 92px 148px 0;
  }
}
