.cover__subtitle {
  max-width: 288px;
  text-align: center;
  margin: 0 auto 33px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 768px) {
  .cover__subtitle {
    margin: 0 auto 115px;
    font-size: 72px;
    line-height: 76px;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    margin: 0 auto 195px;
  }
}

@media (min-width: 1280px) {
  .cover__subtitle {
    margin: 0 auto 245px;
  }
}
