.place__paragraph {
    grid-column-start: 2;
    grid-row-start: 2; 
    font-size: 18px;
    line-height: 163%;
    margin: 0; 
}

.place__paragraph :first-child {
    margin-bottom: 26px;
}

@media only screen and (max-device-width: 700px) {
    .place__paragraph {
        grid-column-start: 1;
        grid-row-start: 4;
        font-size: 16px;
        margin-right: 16px;
        margin-left: 8px;
    }
  }

