.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
}

@media (max-width: 760px) {
  .footer__copyright {
    margin-top: 48px;
    align-self: flex-start;
  }
}
