.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    /* align-self: flex-end; */
}

@media (max-device-width: 450px) {
    .footer__copyright {
        margin-top: 48px;
    }
  }