.intro {
  /* border: 1px solid red; */
  color: #ffffff;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  margin: 64px 16px 0;
}

@media (min-device-width: 768px) {
  .intro {
    margin: 88px auto 0 24px;
    max-width: 690px;
  }
}

@media (min-device-width: 1024px) {
  .intro {
    margin: 92px 48px 0;
  }
}

@media (min-device-width: 1280px) {
  .intro {
    margin: 92px auto 0 148px;
  }
}
