.cover__title {
  width: 288px;
  margin: 33px auto 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media (min-width: 768px) {
  .cover__title {
    margin: 115px auto 32px;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
    margin: 195px auto 32px;
  }
}

@media (min-width: 1280px) {
  .cover__title {
    margin: 245px auto 32px;
  }
}
