.place__website {
    /* grid-area: website; */
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 0 16px;
    padding: 0;
    
}

@media only screen and (max-device-width: 700px) {
    .place__website {
        grid-column-start: 1;
        grid-row-start: 2;
    }
  }